@media (orientation: portrait) {
  .console-block {
    width: 60%;
    height: 75vh;
  }
}

@media (max-width: 1200px) {
  .console-block { width: 50vw; }

  .content-block { height: 70vh; }
  .textAnswer { width: 55%; height: 15%; }
  .send-answer { width: 40%; height: 15%; }
  .open-text-area { font-size: 1.2rem; height: 15%; }
  .text-area { height: 30%; }
  .playInfo > p { border: none; }

  .reload-all-skins {
    font-size: 0.7rem;
    width: 200px;
    right: 75px;
  }
}

@media (max-width: 975px) {
  .playInfo {
    grid-template-rows: 1fr 1fr 1fr;
    width: 39vw;
    grid-template-areas:
    'difficulty turn'
    'PS BS'
    'ScoreR ScoreR';
  }
  .corrSerries { display: none; }
  .okay { top: 85px; width: 20vw; left: 40vw; }
  .show-new-goals-block > pre { font-size: 1.9rem; }
  .content-block pre { font-size: 1.7rem }
  .content-block { left: 25px; }

  .player-stats2,
  .open-player-goals2,
  .open-math-backPack2,
  .show-hint,
  .generate-easy-asc,
  .skip-math-asc { width: 18vw; }

  .skip-math-asc { bottom: 10vh; }
  .generate-easy-asc { bottom: 15vh; }
  .show-hint { bottom: 20vh; }

  .console-block { width: 70vw; }

  .clear-console { font-size: 2rem; }

  .--magazine-block-goldBorder, .backPack-goldBorder-block,
  .back-pack-spec, .--magazine-block-spec,
  .--magazine-block, .--backPack-block { height: 11vh; }

  .--magazine-block { height: 13vh; }

  .close-math-magazine { font-size: 2.2rem; }
}

@media (max-width: 881px) {
  .playInfo > p { font-size: 0.82rem; }
  button { font-size: 0.9rem; }
  .open-text-area { font-size: 0.7rem; height: 8%; bottom: 15%; }
  .textAnswer, .textAnswer::placeholder { font-size: 1.25rem; }
  .textAnswer, .send-answer { padding: 10px; height: 10%; }
  .text-area { bottom: 15%; }
  .help { bottom: 15% }
  .helpWindow pre { font-size: 0.8rem; }
  .helpWindow { width: 100vw; left: 0;  }
  .help-content-block { width: 100vw; left: 0; }
  .console-block { font-size: 1rem; }

  .stats-window  p { font-size: 1.9rem; }
  .stats-window p:hover { font-size: 1.9rem; }

  .--skins-blocks { font-size: 1.75rem; height: 25vh; }

  .player-goals p { font-size: 1rem; }
  .player-goals h2 { font-size: 1.2rem; }
  .player-goals .--resClass { height: 12vh; }
  .player-goals .close-player-goals { font-size: 1.7rem; }

  .--magazine-block-goldBorder h2, .backPack-goldBorder-block h2,
  .back-pack-spec h2, .--magazine-block-spec h2,
  .--magazine-block h2, .--backPack-block h2 { font-size: 1rem; }

  .--magazine-block-goldBorder p, .backPack-goldBorder-block p,
  .back-pack-spec p, .--magazine-block-spec p,
  .--magazine-block p, .--backPack-block p { font-size: 0.75rem; }

  .--magazine-block-goldBorder, .backPack-goldBorder-block,
  .back-pack-spec, .--magazine-block-spec,
  .--magazine-block, .--backPack-block { height: 10.5vh; }

  .reload-all-skins { font-size: 0.55rem; width: 15vw; }

  .show-new-goals-block > pre { font-size: 0.9rem; }
  .show-new-goals-block { height: 14vh; }
}

@media (max-width: 675px) {
  .console-block { width: 80vw; left: 10vw; }
  .help { font-size: 0.6rem; }
  .reload-all-skins { font-size: 0.45rem; }
  .player-stats3 { width: 100px; }
  .math-game-difficulty-window { justify-content: space-around; }
  body { justify-content: space-around; }
  .content-block { height: 50vh; }

  .show-hint,
  .generate-easy-asc,
  .skip-math-asc,
  .player-stats2,
  .open-player-goals2,
  .open-math-backPack2 { width: 15vw; border-radius: 10px; }

  .show-hint { bottom: 40vh; }
  .generate-easy-asc { bottom: 35vh; }
  .skip-math-asc { bottom: 30vh; }

  .closeInitialGame { width: 40vw; left: 30vw; }
  .okay { width: 40vw; left: 30vw; }

  .open-text-area { font-size: 0.5rem; }
}

@media (max-width: 600px) {
  .player-stats3 { top: 50px; }

  .math-new-skin-window h2 { font-size: 1rem; }
  .math-new-skin-window p, .math-new-skin-window pre { font-size: 0.7rem; }
  .math-new-skin-window h4 { font-size: 0.5rem }

  .--skins-blocks { height: 14vh; }
  .--skins-blocks.--special-skin { height: 25vh; }

  .reload-all-skins { font-size: 0.45rem; }

  .math-new-skin-window .close-skin-window { font-size: 1.7rem; }

  .textAnswer, .send-answer { height: 6%; border-radius: 7px; }
  .send-answer { width: 38%; font-size: 0.6rem; }

  .show-hint,
  .generate-easy-asc,
  .skip-math-asc,
  .player-stats2,
  .open-player-goals2,
  .open-math-backPack2 {
    width: 20vw;
    font-size: 0.6rem;
  }

  .content-block pre {
    font-size: 1.2rem;
    position: absolute;
    top: 75px;
    left: 5px;
  }

  .text-area, .text-area::placeholder { font-size: 0.85rem; }
  .text-area { width: 60%; }

  .console-block { height: 75vh; }
  .console-text-block { height: 65vh; }
  .console-block pre { font-size: 0.8rem; }
  .command-syntax-text { font-size: 0.7rem; }
  .all-commands-list-element { font-size: 0.6rem; }

  .--stats-style { width: 92vw;}

  .closeMathDifficultyWindow { width: 40%; }
}

@media (max-width: 510px) {
  .stats-window p { font-size: 1.35rem; }
  .stats-window p:hover { font-size: 1.35rem; }

  .textAnswer { height: 8%; font-size: 0.85rem; }
  .textAnswer::placeholder { font-size: 0.85rem; }

  .send-answer { font-size: 0.7rem; width: 35%; height: 8%; }

  .--magazine-block-goldBorder h2, .backPack-goldBorder-block h2,
  .back-pack-spec h2, .--magazine-block-spec h2,
  .--magazine-block h2, .--backPack-block h2 { font-size: 0.75rem; }

  .--magazine-block-goldBorder p, .backPack-goldBorder-block p,
  .back-pack-spec p, .--magazine-block-spec p,
  .--magazine-block p, .--backPack-block p { font-size: 0.5rem; }

  .player-goals h1 { font-size: 1.5rem; }

  .--all-goals-block > div :last-child, .--all-goals-element :last-child { font-size: 0.75rem; }

  .reload-all-skins { top: 52px; right: 5px; width: 22.5vw; }

  .content-block { left: 5px; }
  .help { font-size: 0.45rem; width: 60%; }

  .open-text-area { font-size: 0.35rem; }

  p, pre, h1, h2, h3, h4 { text-shadow: 0 0 1px; }

  body, .math-game-difficulty-window { padding-top: 100px; }

  .--skins-blocks { width: 95vw; }
  .allGoalsContainer > div > div,
  .goal-percent,
  .get-classic-skin-goals-blocks,
  .goal-allDiffRecord-one { width: 95vw; }

  .allGoalsContainer h2 { font-size: 1rem; }
  .allGoalsContainer p { font-size: 0.9rem; }
}

@media (hover: none) {
  button:hover {
    border: none;
    box-shadow: none;
  }
  p { transition: none !important; }

  .magazine-cursor-blocks { display: none; }
  .magazine-content { padding: 75px 0; }
}

@media (max-height: 750px), (max-width: 675px) {
  .playInfo { display: none; }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .math-game-difficulty-window { padding: 75px 0; }
  .player-stats2,
  .open-player-goals2,
  .open-math-backPack2,
  .show-hint,
  .generate-easy-asc,
  .skip-math-asc{ width: 18vw; }

  .player-stats2 { top: 15px; }
  .open-player-goals2 { top: 65px; }
  .open-math-backPack2 { top: 115px; }

  .skip-math-asc { bottom: 15px; }
  .generate-easy-asc { bottom: 65px; }
  .show-hint { bottom: 115px; }

  .textAnswer,
  .textAnswer::placeholder,
  .send-answer,
  .text-area, .text-area::placeholder{ font-size: 0.75rem; }

  .textAnswer, .send-answer { height: 25px; bottom: 5px; }

  .content-block { top: auto; bottom: 17vh; }
  .content-block > pre { top: 1px; font-size: 1rem; left: auto; }

  .coins { font-size: 1rem; }

  .plus-coins-forDiff { font-size: 1rem; bottom: 10vh; }

  .okay, .closeInitialGame { width: 30vw; height: 6vh; left: 35vw; }

  .okay { top: 13vh; }

  .open-text-area { bottom: 23%; }

  .stats-window p { font-size: 1.25rem; }
  .stats-window p:hover { font-size: 1.25rem; }
  .stats-window h1 { font-size: 1.5rem; }

  .player-goals .--resClass { height: 20vh; }

  .math-new-skin-window p { font-size: 1rem; }
  .math-new-skin-window h2 { font-size: 1.2rem; }
  .math-new-skin-window h4 { font-size: 0.7rem; }

  .--skin-btn { width: min(250px, 96.5%); height: 25px; }

  .--magazine-block-goldBorder, .backPack-goldBorder-block,
  .back-pack-spec, .--magazine-block-spec,
  .--magazine-block, .--backPack-block { height: 23vh; }
  .--magazine-block-goldBorder button, .backPack-goldBorder-block button,
  .back-pack-spec button, .--magazine-block-spec button,
  .--magazine-block button, .--backPack-block button { height: 25px; }
}